* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Mukta', sans-serif;
    color: blue;
}

/* set these elements to 100% width of page */
nav, .profile, img, .container, footer {
    width: 100%;
    margin: 0 auto;
}

nav {
    font-family: 'Mukta', sans-serif;
    color: blue;
    text-align: center;
}

ul {
    list-style-type: none; 
    padding: 0px; 
    margin: 0px;
}

.profile {
    font-family: 'Jura', sans-serif;
    color: red;
    text-align: center;
}

.profile-img {
    width: 80%;
    margin: auto;
} 

.container {
    font-family: 'Jura', sans-serif;
    color: red;
    text-align: center;
}

.item {
    padding: 5px 2px;
    border: black solid 2px;
} 

footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .item {
        display: flex;
        width: 47%;
        margin-right: -4px;
        background-color: aqua;

    }
    .item:first-child, .item:nth-child(3), .item:nth-child(5) {
        margin-right: calc(4% - 4px);
        margin-bottom: 0;
    }
    .profile {
        display: inline-block;
        background-color: yellow;
    }
    .profile-img {
        width: 40%;
    }
}