* {
    box-sizing: border-box;
}

h1, h3, h4 {
    font-family: 'Mukta', sans-serif;
}

/* set images and other content to stay inside divs and entire body */
body, img, p {
    width: 95%;
    margin: 0 auto;
} 

.main-nav {
    font-family: 'Mukta', sans-serif; 
}

/* align the text to be on the same level */
.name,
.nav-bar {
    display: block;
    text-align: center;
}

/* removing the underline for links */
a {
    text-decoration: none;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

li {
    padding: 10px 10px;
}

/* adding a different color to piece of text */
.intro {
    font-family: 'Jura', sans-serif;
    text-align: center;
    padding: 50px 0;
    color: darkblue;
}

.img-profile {
    width: 80%;
    margin: auto;
    padding: 10px 10px;
} 

.text-profile {
    padding: 10px 0;
}

/* adding a background color of main section */
.container,
main {
    font-family: 'Jura', sans-serif;
    text-align: center;
    background-color: aliceblue; 
}

.item {
    padding: 20px 1px;
    align-items: center;
}

/* used for breaking apart email onto another line */
.contact {   
    text-align: center;
    padding: 100px 50px;
    word-wrap: break-word;
} 

footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
}

/* hide footer nav bar for mobile */
.footer-bar {
    display: none;
}


/* Media Queries */

@media screen and (min-width: 768px) {
    /* change to flex to display these classes in rows */
    .main-nav, 
    .nav-bar,
    .container,
    .intro {
        display: flex;
    }

    /* dropping navigation to column to seperate name for nav bar */
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    /* making items evenly show 2 sections per row */
    .item {
        flex: 1 50%;
    }
    
    .container {
        flex-wrap: wrap;
    }
    
    /* Changed the use of float img to flex display and column for direction */
    .profile {
        flex-direction: column;
        flex: 1 50%;
        margin-top: 100px;
        font-size: 1.3em;
    }

    /* Changed the order of the text and image in profile, as well as aligning text to the left */
    .text-profile {
        order: -1;
        width: 90%;
        text-align: left;      
    } 

    .pic-skills {
        width: 40%;
    }

    /* removing this class to show footer nav */
    .top {
        display: none;
    }

    /* showing the footer bar for tablet and desktop screens */
    footer,
    .footer-bar {
        display: flex;
    }

    .footer-bar {
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    /* spacing name and navigation to both ends of page */
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* making items evenly show 3 sections per row */
    .item {
        flex: 1 33%;
    }

    .pic-skills {
        width: 30%;
    }
} 